.navbar-style {
    background-color: white;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 15px;
}


/* styles.css */
.navbar-height {
    height: 120px;
}

 /* styles.css */
 .shopping-cart-btn {
        width: 3rem;
        height: 3rem;
        position: relative;
        background-color:white;
    }

 .cart-badge {
        color: white;
        width: 1.5rem;
        height: 1.5rem;
        position: absolute;
        bottom: 0;
        right: 0;
        transform: translate(25%, 25%);
        background-color: red;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
 .outline-orange {
  border: 2px solid orange;
  color: orange;
  background-color: transparent;
}
.btn-hover-orange {
  transition: background-color 0.3s ease; 
  
}

.btn-hover-orange:hover {
  background-color: orange; 
}



.myDivToSearchAndFilter {

  display: flex;
  align-items: center;
  width: auto;
  justify-content: space-between;
  
}


@media (max-width: 768px) {
 
  .myDivToSearchAndFilter {
    display: none;
  }
  
}


@media (max-width: 590px) {
  
  .myDivToSearchAndFilter {
     display: none;
  }
}
